*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	outline: none;
	font-family: sans-serif;
}
nav {
	margin: auto;
	width: 100%;
	height: 60px;
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #9400D3;
	box-shadow: 0 0 20px rgba(0,0,0,0.5);
	z-index: 9999;
}
nav > h3{
	margin-left: 10px;
	margin-right: auto;
	padding: 4px;
	font-size: 25px;
	font-family: Agency FB;
	color: #B0E0E6;
	cursor: default;
	transition: 0.2s;
}
nav > h3:hover{
	margin-left: 20px;
	color: #E6E6FA;
	text-shadow: 0 0 20px rgba(0,0,0,0.5);
	transition: 0.2s;
}
nav > a{
	margin: 6px;
	padding: 11px;
	color: #E6E6FA;
	transition: 0.2s;
}
nav > a:hover{
	background: #9370DB;
	border-radius: 10px;
	box-shadow: 0 0 20px rgba(0,0,0,0.5);
	transform: scale(1.2);
	transition: 0.2s;
}
#currentNavButton {
	background: #9370DB;
	border-radius: 10px;
	box-shadow: 0 0 20px rgba(0,0,0,0.5);
	transform: scale(1.2);
}
main h2 {
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
	font-family: sans-serif;
	font-weight: normal;
}
/*Footer*/
footer {
	margin-top: 100px;
	color: #E6E6FA;
	background: #4B0082;
	box-shadow: 0 0 20px black;
	text-align: center;
}
footer h4{
	padding: 10px;
	font-family: 'Agency FB';
	font-size: 20px;
	font-weight: normal;
}
footer > a img{
	margin: 10px;
	transition: 0.2s;
}
footer > a img:hover{
	transform: translateY(-5px);
	transition: 0.2s;
}
#email {
	color: #D8BFD8;
	font-family: 'Agency FB';
	font-size: 20px;
	transition: 0.2s;
}
#email:hover{
	color: #E6E6FA;
	transition: 0.2s;
}
/*Dialog window*/
.dialogBG {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: rgba(72,61,139,0.5);
}
.dialog {
	padding: 10px;
	top: 50%;
	left: 50%;
	width: 400px;
	position: absolute;
	color: white;
	background: #9400D3;
	border-radius: 10px;
	box-shadow: 0 0 20px rgba(0,0,0,0.5);
	display: flex;
	justify-content: center;
	flex-direction: column;
	transform: translate(-50%, -50%);
	align-items: center;
}
.dialog p{
	font-family: sans-serif;
}
.dialog img{
	margin-bottom: 10px;
}
.dialog .okButton{
	margin: 10px;
	padding: 10px;
	color: white;
	background: #9400D3;
	transition: 0.2s;
}
.dialog .okButton:hover{
	background: #9370DB;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	transform: scale(1.2);
	transition: 0.2s;
}
/*No scroll when dialog window is open*/
.noScroll{
	overflow-y: hidden;
}